.env
/rust/target
/python/__pycache__
/python/.python-version
/resources/selenium

# Related repos
resources/private
censor/
hud/


# Debug files
python/crashcheck*.jpg
python/log_*
target/rust-analyzer/flycheck0/stderr
target/rust-analyzer/flycheck0/stdout
